/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear { 
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft { 
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* SASS VARIABLES                 
/*******************************************/


$color: #fff;
$backgroundColor: #2c4eba;
$altBackground: #fff; 
$hoverColor: #45b1f1;

@mixin responsive-bg-image($image-height, $image-width) {
  background-size: cover;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}


/******************************************
/* BASE STYLES                   
/*******************************************/
body {
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background: $backgroundColor;
	text-align: center;
	color: $color;
}

/******************************************
/* LAYOUT                   
/*******************************************/

header {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	width:100%;
	background: $backgroundColor;
	margin: 0 auto;
	padding-top: 20px;
	z-index: 100;

}

footer {
	padding: 10px;
	line-height: 1.3;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
h1, h2, h3	{
	font-size: 2em;
	font-weight: 700;
}
h2{
	text-align: left;
	margin: 0px 0 60px 200px;
	padding-top: 50px;
}
h3, h4{
	font-size: 1.4em;
	font-weight: 700;
}
header{
	nav {
		li {
			display: inline-block;
			width: 10%;
			font-size: 1em;
			vertical-align: bottom;
			padding-bottom: 20px;
			transition:border-bottom 0.3s ease-in-out;
			border-bottom: 7px solid transparent;

		}
		li:hover{
		border-bottom: 7px solid $hoverColor;
		}
		li:first-child{
			width: 20%;
			margin-right: 100px;
			border-bottom:none;
			padding-bottom: none;
		}
		li:last-child{
				background: $backgroundColor*0.7;
				border-radius: 5px;
				padding:5px 0 5px 10px;
				line-height: 1.3;
				width: 20%;
				margin-left: 100px;
				text-align: left;
				border-bottom:none;
				margin-bottom: 10px;

		}
		a {
			color: $color;
			text-decoration: none;
		
		}
		a:visited, a:active{
			color:$color;
		}
	}
}

/***********HERO**********/

.hero {

	section{
		background: url(../../images/image_01.jpg); 
		background-repeat:no-repeat;
		margin-top: 108px;
		@include responsive-bg-image(200px, 540px);
	}
}

/*********DEALS**********/
.deals{

	background: $altBackground;
	color: $backgroundColor;
	margin: 0 auto;
	li{
		padding-bottom: 80px;
	}
	li:last-child{
		padding-bottom: 200px;
	}
	img{
		max-width: 18%;
		margin-right: 130px;
		display: inline-block;
		vertical-align:middle;
	}
	div{
		display: inline-block;

		h3{
			text-align: left;
		}
		p{
			text-align: left;
			margin-top: 5px;
			font-size: 1.2em;
		}
	}
}



/*******SERVICES*********/
.services {
	background: $backgroundColor;
	padding-bottom: 100px;
	img{
		width: 20%;
	}
	h2{
		text-align: center;
		margin: 0px;
		padding-top: 80px;
	}
	h3, h4{
		display: inline-block;
		vertical-align: bottom;
		border-top: 8px solid #fff;
		padding-top: 10px;
	}
	h4{
		border: none;
	}
}
.category{
	width: 100%;
	padding: 120px 0;


	li:first-child {
		img{
			max-width: 13.5%;
		}		
	}
}
.subcategory{
	vertical-align: top;
	display: inline-block;
	width: 30%;
	li{
		font-size: 1.3em;

	}
	ul{
		margin-top: 30px;
		line-height: 2;
	}
	img{
		display: block;
		margin: 0 auto;
		padding-bottom: 15px;
	}
}
/*******SPECIALTY*********/
.specialty{
	background: linear-gradient(0deg,$color*0.7, $color*0.8);;
	article{
		text-align: left;
		margin-bottom: 40px;
		.rightSlide{
			-webkit-animation-duration: 1.2s;
			float: right;
			width: 70%;
		}
		.leftSlide{
			-webkit-animation-duration: 1.2s;
			float: left;
			width: 30%;
			padding-left: 20px;

			.rightAngleTriangle{
				float: left;
			}
		}
	}
	article:last-child{
		margin-bottom: 0px;
	}
	section{
		float: right;
		height: 140px;
		width: 85%;
		color: black;
		background: white;
		padding: 15px 0 0 10px;	
		h2{
			text-align: left;
			margin: 0px;
			padding: 0px;
		}
		p{
			margin-top: 5px;
			max-width: 500px;
		}
	}
	.rightAngleTriangle{
		height: 0;
		width: 0;
		border-bottom: 140px solid white;
		border-left: 120px solid transparent;
		background: none;
		padding:0px;
	}
	.leftAngleTriangle{
		float: left;
		height: 0;
		width: 0;
		border-top: 140px solid white;
		border-right: 120px solid transparent;
		background: none;
		padding:0px;
	}
	img{
		float: left;
		background: white;
		height: 140px;
		padding: 12px 0;
	}

}
/*******REVIEWS********/

.reviews{
	background:$backgroundColor*0.3;
	padding-bottom: 150px;
	h2{
		margin-bottom: 0px;
		padding-top: 100px;
	}
	li{
		color: $altBackground;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 33.333%;
		margin: 60px 20px;
		border-radius: 20px;
		-webkit-animation-duration: 4s;
	}
	div{
		display: inline-block;
		vertical-align: middle;
		width:70%;
		padding: 0 20px;
		img{
			max-width: 180px;
			min-width: 50px;
			padding-top: 20px;
		}
		p{
			padding-top: 5px;
		}
	}
	.icon{
		display: inline-block;
		vertical-align: middle;
		width:25%;
		img{
			max-width: 110px;
		}
	}
}
/********CONTACT*********/

#contact{
	padding: 50px 170px;
	line-height: 1.9em;
	section{
		float: left;
		width: 50%;
		margin-bottom: 50px;
		h3{
			margin-bottom: 20px;
			font-size: 1.6em;
		}
		p{
			font-size: 1.2em;
		}
	}
	#hours{
		padding: 0 40px;
		div{
			float: left;
			width: 50%;
		}
	}
}

/********MAP*********/

#map {
	text-align: justify;
	margin: 0 auto;
	height: 440px;
	width:100%;
	margin-bottom:50px;
}
/********CONTACT*********/
.btn{
	margin: 250px 0 0 20px;
	float: left;
    background-color: $backgroundColor;
    padding: 12px 18px;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:last-child{
	margin: 250px 20px 0 0;
	float: right;
}

footer{
	background: #fff;
	color: $backgroundColor;
	text-align: left;
	section{
		margin-right: 50px;
		float: right;
	}
	h3{
		font-size: 1em;
		font-weight: 500;
	}
	img{
		margin: 5px 0 0 20px;
		display: inline-block;
		max-width: 50px;
		float: left;
	}
}
/******************************************
/* MAP BOX                   
/*******************************************/

/**********************RESPONSIVE**********************/
@media (min-width:923px) and (max-width:1371px){

	.services{
		section{
			margin-top: 145px;
		}
	}

}
@media (min-width:400px) and (max-width:922px){

	.services{
		section{
			margin-top: 165px;
		}
	}

}