/*******FONT***********/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/******************************************
/* SETUP                   
/*******************************************/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */ }

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */ }

/******************************************
/* SASS VARIABLES                 
/*******************************************/
/******************************************
/* BASE STYLES                   
/*******************************************/
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #2c4eba;
  text-align: center;
  color: #fff; }

/******************************************
/* LAYOUT                   
/*******************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #2c4eba;
  margin: 0 auto;
  padding-top: 20px;
  z-index: 100; }

footer {
  padding: 10px;
  line-height: 1.3; }

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
h1, h2, h3 {
  font-size: 2em;
  font-weight: 700; }

h2 {
  text-align: left;
  margin: 0px 0 60px 200px;
  padding-top: 50px; }

h3, h4 {
  font-size: 1.4em;
  font-weight: 700; }

header nav li {
  display: inline-block;
  width: 10%;
  font-size: 1em;
  vertical-align: bottom;
  padding-bottom: 20px;
  transition: border-bottom 0.3s ease-in-out;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  -moz-transition: border-bottom 0.3s ease-in-out;
  -o-transition: border-bottom 0.3s ease-in-out;
  border-bottom: 7px solid transparent; }
header nav li:hover {
  border-bottom: 7px solid #45b1f1; }
header nav li:first-child {
  width: 20%;
  margin-right: 100px;
  border-bottom: none;
  padding-bottom: none; }
header nav li:last-child {
  background: #1f3782;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  line-height: 1.3;
  width: 20%;
  margin-left: 100px;
  border-bottom: none;
  margin-bottom: 10px; }
header nav a {
  color: #fff;
  text-decoration: none; }
header nav a:visited, header nav a:active {
  color: #fff; }

/***********HERO**********/
#hero section {
  background: url(../../images/image_01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 37%;
  display: block;
  margin-top: 100px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear; }
#hero img {
  cursor: pointer;
  margin-top: 280px;
  margin-left: 20px;
  width: 2.8%;
  opacity: 1;
  position: absolute;
  right: 25px;
  transition: opacity 0.2s linear; }
#hero img:nth-child(3), #hero img:nth-child(4) {
  margin-left: 0px;
  margin-right: 20px;
  left: 25px; }
#hero .rightArrow.hidden {
  opacity: 0; }
#hero .leftArrow.hidden {
  opacity: 0; }

/*********DEALS**********/
#deals {
  background: #fff;
  color: #2c4eba;
  margin: 0 auto; }
  #deals li {
    padding-bottom: 80px; }
  #deals li:last-child {
    padding-bottom: 200px; }
  #deals img {
    max-width: 18%;
    margin-right: 130px;
    display: inline-block;
    vertical-align: middle; }
  #deals div {
    display: inline-block; }
    #deals div h3 {
      text-align: left; }
    #deals div p {
      text-align: left;
      margin-top: 5px;
      font-size: 1.2em; }

/*******SERVICES*********/
.services {
  background: #2c4eba;
  padding-bottom: 100px; }
  .services img {
    width: 20%; }
  .services h2 {
    text-align: center;
    margin: 0px;
    padding-top: 80px; }
  .services h3, .services h4 {
    display: inline-block;
    vertical-align: bottom;
    border-top: 8px solid #fff;
    padding-top: 10px; }
  .services h4 {
    border: none; }

.category {
  width: 100%;
  padding: 120px 0; }
  .category li:first-child img {
    max-width: 13.5%; }

.subcategory {
  vertical-align: top;
  display: inline-block;
  width: 30%; }
  .subcategory li {
    font-size: 1.3em; }
  .subcategory h3 {
    margin-bottom: 30px; }
  .subcategory ul {
    line-height: 2;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s; }
  .subcategory img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px; }

/*******SPECIALTY*********/
.specialty {
  background: linear-gradient(0deg, #b3b3b3, #cccccc); }
  .specialty article {
    text-align: left;
    margin-bottom: 40px; }
    .specialty article .rightSlide {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -ms-animation-duration: 2s;
      -o-animation-duration: 2s;
      float: right;
      width: 70%; }
    .specialty article .leftSlide {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      float: left;
      width: 30%;
      padding-left: 20px; }
      .specialty article .leftSlide .rightAngleTriangle {
        float: left; }
  .specialty article:last-child {
    margin-bottom: 0px; }
  .specialty section {
    float: right;
    height: 140px;
    width: 85%;
    color: black;
    background: white;
    padding: 15px 0 0 10px; }
    .specialty section h2 {
      text-align: left;
      margin: 0px;
      padding: 0px; }
    .specialty section p {
      margin-top: 5px;
      max-width: 500px; }
  .specialty .rightAngleTriangle {
    height: 0;
    width: 0;
    border-bottom: 140px solid white;
    border-left: 120px solid transparent;
    background: none;
    padding: 0px; }
  .specialty .leftAngleTriangle {
    float: left;
    height: 0;
    width: 0;
    border-top: 140px solid white;
    border-right: 120px solid transparent;
    background: none;
    padding: 0px; }
  .specialty img {
    float: left;
    background: white;
    height: 140px;
    padding: 12px 0; }

/*******REVIEWS********/
.reviews {
  background: #0d1738;
  padding-bottom: 150px; }
  .reviews h2 {
    margin-bottom: 0px;
    padding-top: 100px; }
  .reviews li {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 33.333%;
    margin: 60px 20px;
    border-radius: 20px;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    -o-animation-duration: 4s; }
  .reviews div {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 20px; }
    .reviews div img {
      max-width: 180px;
      min-width: 50px;
      padding-top: 20px; }
    .reviews div p {
      padding-top: 5px; }
  .reviews .icon {
    display: inline-block;
    vertical-align: middle;
    width: 25%; }
    .reviews .icon img {
      max-width: 110px; }

/********CONTACT*********/
#contact {
  padding: 65px 170px;
  line-height: 1.9em; }
  #contact section {
    float: left;
    width: 50%;
    margin-bottom: 50px; }
    #contact section h3 {
      margin-bottom: 20px;
      font-size: 1.6em; }
    #contact section p {
      font-size: 1.2em; }
  #contact #hours {
    padding: 0 40px; }
    #contact #hours div {
      float: left;
      width: 50%; }

/********MAP*********/
#map {
  text-align: justify;
  margin: 0 auto;
  height: 440px;
  width: 100%;
  margin-bottom: 50px;
  color: #000; }
  #map strong {
    font-weight: 500; }

/********CONTACT*********/
footer {
  background: #fff;
  color: #2c4eba;
  text-align: left; }
  footer section {
    margin-right: 50px;
    float: right; }
  footer h3 {
    font-size: 1em;
    font-weight: 500; }
  footer img {
    margin: 5px 0 0 20px;
    display: inline-block;
    max-width: 50px;
    float: left; }

/******************************************
/* MAP BOX                   
/*******************************************/
/**********************RESPONSIVE**********************/
@media (min-width: 923px) and (max-width: 1364px) {
  .services .specialty .leftAngleTriangle {
    border-right: 110px solid transparent; }
  .services .specialty .rightAngleTriangle {
    border-left: 110px solid transparent; } }
@media (min-width: 400px) and (max-width: 922px) {
  .services section {
    margin-top: 165px; } }

/*# sourceMappingURL=main.css.map */
