/*******FONT***********/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear { 
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft { 
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* SASS VARIABLES                 
/*******************************************/


$color: #fff;
$backgroundColor: #2c4eba;
$altBackground: #fff; 
$hoverColor: #45b1f1;


/******************************************
/* BASE STYLES                   
/*******************************************/
body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: $backgroundColor;
	text-align: center;
	color: $color;
}

/******************************************
/* LAYOUT                   
/*******************************************/

footer {
	padding: 10px;
	line-height: 1.3;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
h1, h2	{
	font-size: 2em;
	font-weight: 700;
}
h2{
	text-align: left;
	margin-left:10%;
	margin-bottom: 60px;
	padding-top: 50px;
}
h3, h4{
	font-size: 1.4em;
	font-weight: 700;
}
header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	width:100%;
	background: $backgroundColor;
	margin: 0 auto;
	padding-top: 20px;
	z-index: 100;
	nav {
		padding-bottom: 0px;
		li {
			display: inline-block;
			width: 14%;
			font-size: 1em;
			vertical-align: bottom;
			padding-bottom: 20px;
			transition:border-bottom 0.3s ease-in-out;
			-webkit-transition:border-bottom 0.3s ease-in-out;
			-moz-transition:border-bottom 0.3s ease-in-out;
			-o-transition:border-bottom 0.3s ease-in-out;
			border-bottom: 7px solid transparent;
			-webkit-backface-visibility: hidden;
		}
		li:hover{
		border-bottom: 7px solid $hoverColor;
		}

		li:first-child{
			border-bottom:none;
			display: none;
			div{
				width: 30px;
				display: inline-block;
				float: right;
				margin-right: 5%;
			}
			p{
				border:2px solid $color;
				width: 100%;
				margin-bottom: 4px;
			}
		}

		li:nth-child(2){
			clear: both;
			width: 20%;
			border-bottom:none;
		}
		li:last-child{
				background: $backgroundColor*0.7;
				border-radius: 5px;
				padding:5px 0;
				line-height: 1.3;
				width: 20%;
				border-bottom:none;
				margin-bottom: 10px;

		}
		a {
			color: $color;
			text-decoration: none;
		
		}
		a:visited, a:active{
			color:$color;
		}
	}
	.visible{
		padding-bottom:20px;
		max-height: 100px;
		width: 100%;
	}
	
	.rotateMenu{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
	}

}

/***********HERO**********/

#hero {

	section{
		background: url(../../images/image_01.jpg); 
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;
		height: 0;
  		padding-bottom: 37%;
  		display: block;
		margin-top: 100px;
		-webkit-transition: background 0.2s linear;
		transition: background 0.2s linear;
		-webkit-backface-visibility: hidden;
	}

	img{
			
			cursor: pointer;
			margin-top: 200px;
			margin-left: 20px;
			width:2.8%;
			opacity: 1;
			position:absolute;
			right:25px;
			transition: opacity 0.2s linear;
			-webkit-backface-visibility: hidden;
		}
	img:nth-child(3),img:nth-child(4){
			margin-left: 0px;
			margin-right: 20px;
			left:25px;
		}
	.rightArrow.hidden{
		opacity: 0;  
	}
	.leftArrow.hidden{
		opacity: 0;  
	}
}

/*********DEALS**********/
#deals{

	background: $altBackground;
	color: $backgroundColor;
	margin: 0 auto;
	li{
		padding-bottom: 80px;
	}
	li:last-child{
		padding-bottom: 200px;
	}
	img{
		max-width: 18%;
		margin-right: 130px;
		display: inline-block;
		vertical-align:middle;
		padding-bottom:0px;
	}
	div{
		display: inline-block;
		text-align: left;

		p{
			margin-top: 5px;
			font-size: 1.2em;
		}
	}

}



/*******SERVICES*********/
#services {
	background: $backgroundColor;
	padding-bottom: 100px;
	#marker{
		width: 20%;
		height: auto;
	}
	img{
		width: 20%;
		
	}
	h2{
		text-align: center;
		margin: 0px;
		padding: 80px 0 0 0;
	}
	h3, h4{
		display: block;
		margin: 0 auto;
		border-top: 8px solid #fff;
		padding-top: 10px;
	}
	h3{
		width: 60%;
	}
	h4{
		border: none;
	}
}
.category{
	width: 100%;
	padding: 120px 0;


	li:first-child {
		img{
			max-width: 13.5%;
		}		
	}
}
.subcategory{
	vertical-align: top;
	display: inline-block;
	width: 30%;
	li{
		font-size: 1.3em;

	}
	h3{
		margin-bottom: 30px;
	}
	ul{
		line-height: 2;
		-webkit-animation-duration: 3s;
		-moz-animation-duration: 3s;
		-ms-animation-duration: 3s;
		-o-animation-duration: 3s;
		-webkit-backface-visibility: hidden;
	}
	img{
		display: block;
		margin: 0 auto;
		padding-bottom: 15px;
	}
}
/*******SPECIALTY*********/
#specialty{
	overflow: hidden;
	background: linear-gradient(0deg,$color*0.7, $color*0.8);;
	article{
		text-align: left;
		margin-bottom: 40px;
		background-color:transparent;
		.rightSlide{
			-webkit-animation-duration: 2s;
			-moz-animation-duration: 2s;
			-ms-animation-duration: 2s;
			-o-animation-duration: 2s;
			float: right;
			width: 70%;
		}
		.leftSlide{
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			-ms-animation-duration: 1.5s;
			-o-animation-duration: 1.5s;
			float: left;
			width: 30%;

			.rightAngleTriangle{
				float: left;
			}
		}
	}
	article:last-child{
		margin-bottom: 0px;
	}
	section{
		float: right;
		height: 140px;
		width: 85%;
		color: black;
		background: white;
		padding: 15px 0 0 10px;	
		h2{
			text-align: left;
			margin: 0px;
			padding: 0px;
		}
		p{
			margin-top: 5px;
			max-width: 500px;
		}
	}
	.rightAngleTriangle{
		height: 0;
		width: 0;
		border-bottom: 140px solid white;
		border-left: 6vw solid transparent;
		background: none;
		padding:0px;
		display: block;
	}
	.leftAngleTriangle{
		float: left;
		height: 0;
		width: 0;
		border-top: 140px solid white;
		border-right: 6vw solid transparent;
		background: none;
		padding:0px;
		display: block;
	}
	img{
		float: left;
		background: white;
		height: 140px;
		padding: 12px 0;
	}

}
/*******REVIEWS********/

#reviews{
	background:$backgroundColor*0.3;
	padding-bottom: 150px;
	h2{
		margin-bottom: 0px;
		padding-top: 100px;
	}
	li{
		color: $altBackground;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 33.333%;
		margin: 60px 20px;
		border-radius: 20px;
		-webkit-animation-duration: 4s;
		-moz-animation-duration: 4s;
		-ms-animation-duration: 4s;
		-o-animation-duration: 4s;
		-webkit-backface-visibility: hidden;
	}
	div{
		display: inline-block;
		vertical-align: middle;
		width:70%;
		img{
			max-width: 180px;
			min-width: 50px;
			padding-top: 20px;
		}
		p{
			padding-top: 5px;
		}
	}
	.icon{
		display: inline-block;
		vertical-align: middle;
		width:25%;
		img{
			width: 100%;
		}
	}
	.comments{
		padding-left:20px;
		vertical-align: middle;
	}
}
/********CONTACT*********/

#contact{
	padding: 65px 170px;
	line-height: 1.9em;
	section{
		float: left;
		width: 50%;
		margin-bottom: 50px;
		h3{
			margin-bottom: 20px;
			font-size: 1.6em;
		}
		p{
			font-size: 1.2em;
		}
	}
	#hours{
		
		div{
			float: left;
			width: 50%;
		}
	}
}

/********MAP*********/

#map {
	text-align: justify;
	margin: 0 auto;
	height: 440px;
	width:100%;
	margin-bottom:50px;
	color:#000;
	strong{
		font-weight: 500;
	}
}
/********CONTACT*********/

footer{
	background: #fff;
	color: $backgroundColor;
	text-align: left;
	section{
		margin-right: 50px;
		float: right;
	}
	h3{
		font-size: 1em;
		font-weight: 500;
	}
	img{
		margin: 5px 0 0 20px;
		display: inline-block;
		max-width: 50px;
		float: left;
	}
}